window {
    margin: 0px;
    border: 2px solid --wofi-color1;
    border-radius: 3px;
    background-color: --wofi-color0;
}

#input {
    margin: 5px;
    border: none;
    color: --wofi-color7;
    background-color: #44475a;
}

#input:focus {
    border: 2px solid --wofi-color1;
    box-shadow: 0 0 1px --wofi-color1;
}

#inner-box {
    margin: 5px;
    border: none;
}

#outer-box {
    margin: 5px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: --wofi-color7;
}

#text:selected {
    border: none;
} 

#entry {
    border-radius: 3px;
}

#entry:selected {
    background-color: #44475a;
}
